<%- include("./partials/header") %>
<body class="about">
<h1 id="h1-about">
	About TopResturant !
</h1>


<p id="p-about">
	This website is meant to be part of my portfolio, it does not represent any real resturants or real reviews. Any similarities in names or content is pure <strong>coincidence!</strong>
	All pictures are from <a href="https://www.unsplash.com">Unsplash.com</a>
	
</p>
<%- include("./partials/footer") %>
