body{
	background: #7F7FD5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'BenchNine', sans-serif;
font-family: 'Philosopher', sans-serif;
}

body.register{
	background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


body.login{
	background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
body.about{
	background: #4CA1AF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1{
	color: #000000;
}
#jumbo1{
	background:#A9332B;
	color: #FFFF;
}

#thumbnail1{
	background:#A9332B;
}
#cap1{
	color:white;
}
#tm{
text-align: center;
vertical-align: bottom;
	color:#000000;
}
#desctxt{
	width:200%;
	margin: 0 -180px;
}
#btn-new-form{
	padding:10px;
	font-size:1.2em;
}
.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}


#hr1{
	  border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}


#delform{
	display: inline;
}

#commentcolor{
	color:black;
}
#delete-form{
	display:inline;
}
#user-reviews{
	margin-top: 50px;
}
#p-about{
font-size:20px;	
	color:black;
}
#h1-about{
	  text-align: center;

}